<h2>Listing Users</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
    </tr>
  </thead>
  <tbody>
<%= for user <- @users do %>
    <tr>
      <td><%= user["name"] %></td>
      <td><%= user["phone"] %></td>
    </tr>
<% end %>
  </tbody>
</table>
